<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noono0.stock.ops.system.mapper.SystemControlMapper">

  <select id="findById" resultType="com.noono0.stock.ops.system.domain.SystemControl">
    SELECT id,
           emergency_stop AS emergencyStop,
           updated_at     AS updatedAt
    FROM system_control
    WHERE id = #{id}
  </select>

  <insert id="insert">
    INSERT INTO system_control (id, emergency_stop, updated_at)
    VALUES (#{id}, #{emergencyStop}, #{updatedAt})
  </insert>

  <update id="update">
    UPDATE system_control
    SET emergency_stop = #{emergencyStop},
        updated_at     = #{updatedAt}
    WHERE id = #{id}
  </update>
</mapper>
